
/* Footer */

.c-footer {
    width: 100%;
    padding: 4rem 2rem;
    background-color: rgb(77, 133, 252);
    position: relative;
    color: #fff;
    transition: background-color .5s;
}

.c-footer--title {
    font-family: 'Bebas Neue', "Arial Narrow", Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(0,0,0,0.4);
}

.c-footer--subtitle {
    font-family: 'Bebas Neue', "Arial Narrow", Arial, sans-serif;
    font-size: .9rem;
    text-align: center;
    color: rgba(0,0,0,0.4);
    margin-bottom: 1rem;
}

.c-footer--link {
    font-family: 'Bebas Neue', "Arial Narrow", Arial, sans-serif;
    font-size: .7rem;
    text-align: center;
    color: rgba(0,0,0,0.4);
    text-decoration: underline;
    font-style: italic;
    display: block;
}
.c-footer:after {
    content:"";
    display:block;
    clear:both;
}


.c-footer--container {
    width: calc(100% - 60px);
    max-width: 1000px;
    margin: 0 auto;
}
